<div class="zazen-container">
  <div class="rounded-full bg-blue-100 zazen">
    <span class="dod dod1"></span>
    <span class="dod dod2"></span>
    <span class="dod dod3"></span>
    <span class="dod dod4"></span>
    <span class="dod dod5"></span>
    <span class="dod dod6"></span>
    <span class="dod dod7"></span>
    <span class="dod dod8"></span>
    <span class="dod dod9"></span>
    <%= image_tag '6988.png', class: '' %>
  </div>
</div>
